// Colors
$black: #000;
$white: #fff;

$font-main: sans-serif;
$font-size: 16px;

$screen-xs: 400px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1200px;

body {
  background: $white;
  font-size: $font-size;
  font-family: $font-main;
}
