[data-section="photos"] {

  padding-bottom: 0px;

  img {

    display: block;

    @media screen and (min-width: $screen-md) {

      &.portrait {
        float: left;
        width: 50%;
      }

    }

  }

}
