.wedding-party-group {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
  // margin: 0px -1rem;

  &:after {
    content: ' ';
    display: block;
    clear: both;
  }

  &:not(:first-child) {

    margin-top: 3%;

    @media screen and (min-width: $screen-sm) {
      margin-top: 1%;
    }

  }

  // @media screen and (min-width: $screen-sm) {
  //   margin: 0px -2rem;
  // }
  //
  // @media screen and (min-width: $screen-lg) {
  //   margin: 0px;
  // }

}

.party-member {

  position: relative;
  margin-left: 3%;
  width: 48.5%;
  background: {
    size: cover;
    position: center center;
    color: $black;
  }
  filter: grayscale(100%);
  overflow: hidden;

  &:nth-child(odd) {
    margin-left: 0px;
  }

  &:nth-child(n+3) {
    margin-top: 3%;
  }

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &:hover {
    cursor: pointer;
    filter: grayscale(0%);
  }

  &-inner {
    display: none;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100%;
    max-width: none;
    max-height: none;
  }

  @media screen and (min-width: $screen-xs) {

    width: percentage((1 - 0.03) / 3);

    &,
    &:nth-child(odd) {
      margin-left: 1%;
    }

    &:nth-child(3n-2) {
      margin-left: 0px;
    }

    &:nth-child(n+3) {
      margin-top: 0px;
    }

    &:nth-child(n+4) {
      margin-top: 1%;
    }

  }

  @media screen and (min-width: $screen-sm) {

    width: percentage((1 - 0.05) / 6);

    &,
    &:nth-child(odd),
    &:nth-child(3n-2) {
      margin-left: 1%;
    }

    &:nth-child(6n-5) {
      margin-left: 0px;
    }

    &:nth-child(n+3) {
      margin-top: 0px;
    }

    &:nth-child(n+7) {
      margin-top: 1%;
    }

  }

  // $women: 'kait', 'amanda', 'kelly', 'megan', 'grace', 'catie', 'sarah', 'marykate', 'maggie', 'courtney';
  // $men: 'matt', 'andy', 'alex', 'brendan', 'dubois', 'kyle', 'matt', 'scott', 'rob';
  //
  // $people: join($women, $men);
  // @each $person in $people {
  //   &[data-party-member="#{$person}"] {
  //     $filename: '#{$person}.jpg';
  //     @if $person == 'alex' {
  //       $filename: 'alex.gif';
  //     }
  //     background-image: url('/dist/images/people/cropped/#{$filename}');
  //   }
  // }

}
