<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }} | {{ site.wedding_date }} | {{ site.wedding_location }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" />
  <link rel="stylesheet" href="https://use.typekit.net/rey8lub.css" />
  <style>
  {% include style.min.css %}
  </style>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css" />
</head>
<body>

{{ content }}

<script>
(function(w, d){
	var b = d.getElementsByTagName('body')[0];
	var s = d.createElement("script"); s.async = true;
	var v = !("IntersectionObserver" in w) ? "8.7.1" : "10.5.2";
	s.src = "https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/" + v + "/lazyload.min.js";
	w.lazyLoadOptions = {}; // Your options here. See "recipes" for more information about async.
	b.appendChild(s);
}(window, document));
</script>
<!-- <script src="https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js"></script> -->
<script>
{% include scripts.min.js %}
</script>

</body>
</html>
