<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }} | {{ site.wedding_date }} | {{ site.wedding_location }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" />
  <link rel="shortcut icon" href="{{ site.imagebase }}/favicon.png" />
  <link rel="stylesheet" href="https://use.typekit.net/rey8lub.css" />
  <style>
  {% include style.min.css %}
  </style>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css" />
</head>
<body>

{{ content }}

{% include scripts.html %}

</body>
</html>
