<div class="wedding-party-group">
  {% for member in site.data.members %}
  <div class="party-member">
    <img class="cropped" data-src="{{ site.imagebase }}/people/cropped/{{ member.file }}">
    <img class="full" data-src="{{ site.imagebase }}/people/cropped/{{ member.file }}">
    <div class="party-member-inner">
      <h4 class="member-name">{{ member.name }}</h4>
      {% if member.title %}<p class="member-title"><strong>{{ member.title }}</strong></p>{% endif %}
      <div class="member-description">
        <p>{{ member.description }}</p>
        <p class="attribution">&mdash; {% if member.group == 'bride' %}Bri{% elsif member.group == 'groom' %}Jase{% endif %}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
